@import 'variables';

.title {
  padding: $default-padding;
  border-radius: $default-radius $default-radius 0 0;
  background-color: #333;
  color: #eee;
  cursor: pointer;
}

.body {
  border-radius: 0 0 $default-radius $default-radius;
  overflow-y: hidden;
  box-shadow: inset 0 0 7px 1px rgba(0, 0, 0, 0.75);

  &[aria-hidden="true"] {
    max-height: 0 !important;
    transition: max-height 300ms ease-in;
  }

  &:not([aria-hidden="true"]) {
    transition: max-height 300ms ease-out;
  }
}

.content {
  padding: $default-padding;
}
